.sign-page-container {
    display: flex;
    position: relative;
    height: 100vh;  
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url("../images/login-wallpaper.jpg");
}
